<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="Stylesheet" href="/css/MyStyle.css">
    <link rel="Shortcut icon" href="https://us.123rf.com/450wm/amin268/amin2681802/amin268180200616/96169224-icono-de-l%C3%ADnea-de-curso-en-l%C3%ADnea-aprendizaje-electr%C3%B3nico-y-educaci%C3%B3n-a-distancia-aprender-signos-gr%C3%A1.jpg">
    <title>Registro</title>
</head>
<body>
    <nav th:replace="components/header::navbar"></nav>
    <div class="container">
        <div class="col-lg-6">
            <h1>REGISTRO ALUMNO</h1>
            <form th:action="@{/user/register}" method="post" th:object="${cUsuario}">
                <div class="form-group">
                    <label th:for="rut">Rut</label>
                    <input class="form-control" type="text" name="rut" placeholder="RUT" th:field="*{rut}">
                    <span th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></span>
                </div>
                <div class="form-group">
                    <label th:for="password">Contraseña</label>
                    <input class="form-control" type="password" name="password" placeholder="Contraseña" th:field="*{password}">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label th:for="nombre1">Primer Nombre</label>
                    <input class="form-control" type="text" name="nombre1" placeholder="Primer Nombre" th:field="*{nombre1}">
                    <span th:if="${#fields.hasErrors('nombre1')}" th:errors="*{nombre1}"></span>
                </div>
                <div class="form-group">
                    <label th:for="nombre2">Segundo Nombre</label>
                    <input class="form-control" type="text" name="nombre2" placeholder="Segundo Nombre" th:field="*{nombre2}">
                    <span th:if="${#fields.hasErrors('nombre2')}" th:errors="*{nombre2}"></span>
                </div>
                <div class="form-group">
                    <label th:for="apellido1">Primer Apellido</label>
                    <input class="form-control" type="text" name="apellido1" placeholder="Primer Apellido" th:field="*{apellido1}">
                    <span th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></span>
                </div>
                <div class="form-group">
                    <label th:for="apellido2">Segundo Apellido</label>
                    <input class="form-control" type="text" name="apellido2" placeholder="Segundo Apellido" th:field="*{apellido2}">
                    <span th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}"></span>
                </div>
                <div class="form-group">
                    <label th:for="edad">Edad</label>
                    <input class="form-control" type="number" name="edad" placeholder="Edad" th:field="*{edad}">
                    <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>
                </div>
                <div class="form-group">
                    <label th:for="direccion">Dirección</label>
                    <input class="form-control" type="text" name="direccion" placeholder="Dirección" th:field="*{direccion}">
                    <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></span>
                </div>
                <div class="form-group">
                    <label th:for="email">E-mail</label>
                    <input class="form-control" type="text" name="email" placeholder="E-mail" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label th:for="telefono">Teléfono</label>
                    <input class="form-control" type="number" name="telefono" placeholder="Teléfono" th:field="*{telefono}">
                    <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
                </div>
                <div class="form-group">
                    <label th:for="region">Región</label>
                    <select class="form-control" th:field="*{region}">
                        <option value="0">Seleccione una región</option>
                        <option th:each="l : ${lista}" th:value="${l.id}" th:text="${l.descripcion}"></option>
                    </select>
                </div>
                <br>
                <div>
                    <button class="button-78" role="button">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="components/footer::footer"></footer>
</body>
</html>