<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="Stylesheet" href="/css/MyStyle.css">
    <link rel="Shortcut icon" href="https://us.123rf.com/450wm/amin268/amin2681802/amin268180200616/96169224-icono-de-l%C3%ADnea-de-curso-en-l%C3%ADnea-aprendizaje-electr%C3%B3nico-y-educaci%C3%B3n-a-distancia-aprender-signos-gr%C3%A1.jpg">
    <title>Login</title>
</head>
<body>
    <nav th:replace="components/header::navbar"></nav>
    <div class="container" id="menulogin">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <form th:action="@{/login}" method="post">
                    <div>
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" autofocus="autofocus">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <br>
                    <button class="button-78" role="button" type="submit" value="Ingresar">Ingresar</button>
                </form>
            </div>
        </div>
        <p th:if="${param.error}">Usuario o Contraseña no correctos</p>
    </div>
    <footer th:replace="components/footer::footer"></footer>
</body>
</html>